<footer class="footer ">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#creative">

                    </a>
                </li>
                <li>
                    <a href="#creative">
                    </a>
                </li>
                <li>
                    <a href="#creative">
                    </a>
                </li>
                <li>
                    <a href="#creative">
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script><i class="material-icons"></i>
            <a href=""></a>
        </div>
    </div>
</footer>