
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<!-- Favicons -->
<link rel="apple-touch-icon" href="../../../static/assets/img/apple-icon.png">
<link rel="icon" href="../../../static/assets/img/favicon.png">
{% block title %}
{% endblock %}
<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
<link rel="stylesheet" href="../../../static/assets/css/material-kit.css?v=2.0.3">
<!-- Documentation extras -->
<!-- CSS Just for demo purpose, don't include it in your project -->
<link href="../../../static/assets/assets-for-demo/demo.css" rel="stylesheet" />
<link href="../../../static/assets/assets-for-demo/vertical-nav.css" rel="stylesheet" />
<style>
    .hov:hover {
        background-color: rgb(177, 166, 166);
        color: rgb(252, 6, 6);
        border-radius: 30px;
    }

    th {
        font-size: 30px;
    }
</style>