<nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100"
    id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            {% if user.is_authenticated %}
            <a class="navbar-brand" href="{% url 'index' %}"><i class="material-icons">account_circle</i> {{request.user.email}}</a>
            {% else %}
            <a class="navbar-brand" href="{% url 'all' %}">All Resume</a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navigation-example3">
            <ul class="navbar-nav ml-auto">

                {% if user.is_authenticated %}
                {% if user.is_staff %}
                <li class="nav-item">
                    <a href="{% url 'admin:index' %}" class="nav-link">
                        <i class="material-icons">layers</i> Admin
                    </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{% url 'index' %}" class="nav-link">
                        <i class="material-icons">account_balance</i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'about' %}" class="nav-link">
                        <i class="material-icons">list</i> About
                    </a>
                </li>
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">settings</i> Settings
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a href="{% url 'profileupdate' %}" class="dropdown-item">
                            <i class="material-icons">account_circle</i> Profile Update
                        </a>
                        <a href="{% url 'aboutupdate' %}" class="dropdown-item">
                            <i class="material-icons">face</i> About Update
                        </a>
                        <a href="{% url 'project' %}" class="dropdown-item">
                            <i class="material-icons">view_day</i>Project Update
                        </a>
                        <a href="{% url 'bgpic' %}" class="dropdown-item">
                            <i class="material-icons">art_track</i> Pictures
                        </a>
                        <a href="{% url 'change-password' %}" class="dropdown-item">
                            <i class="material-icons">lock_outline</i> Change Password
                        </a>
                        <a href="{% url 'logout' %}" class="dropdown-item">
                            <i class="material-icons">reply</i>Logout
                        </a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link">
                        <i class="material-icons">fingerprint</i> Login
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'register' %}" class="nav-link">
                        <i class="material-icons">person_add</i> Register
                    </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>