
<script src="../../../static/assets/js/core/jquery.min.js"></script>
<script src="../../../static/assets/js/core/popper.min.js"></script>
<script src="../../../static/assets/js/bootstrap-material-design.js"></script>
<!--  Google Maps Plugin  -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin  -->
<script src="../../../static/assets/js/plugins/moment.min.js"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="../../../static/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="../../../static/assets/js/plugins/nouislider.min.js"></script>
<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="../../../static/assets/js/plugins/bootstrap-selectpicker.js"></script>
<!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
<script src="../../../static/assets/js/plugins/bootstrap-tagsinput.js"></script>
<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="../../../static/assets/js/plugins/jasny-bootstrap.min.js"></script>
<!--	Plugin for Small Gallery in Product Page -->
<script src="../../../static/assets/js/plugins/jquery.flexisel.js"></script>
<!-- Plugins for presentation and navigation  -->
<script src="../../../static/assets/assets-for-demo/js/modernizr.js"></script>
<script src="../../../static/assets/assets-for-demo/js/vertical-nav.js"></script>
<!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
<script src="../../../static/assets/js/material-kit.js?v=2.0.3"></script>
<!-- Fixed Sidebar Nav - js With initialisations For Demo Purpose, Don't Include it in your project -->
<script src="../../../static/assets/assets-for-demo/js/material-kit-demo.js"></script>
<script>
    $(document).ready(function () {
        materialKitDemo.initContactUs2Map();
    });
</script>
<script type="text/javascript">
    var blink = document.getElementById('blink');
    setInterval(function() {
        blink.style.opacity = (blink.style.opacity == 0 ? 1 : 0);
    }, 500);
</script>
<script type="text/javascript">
    var blinks = document.getElementById('blinks');
    setInterval(function() {
        blinks.style.opacity = (blinks.style.opacity == 0 ? 1 : 0);
    }, 600);
</script>