{% extends 'resume/base.html' %}
{% load static %}

{% block content %}

<body class="profile-page"> 
    {% include './main/navbar.html' %}
    <a href="{% static '/assets/img/bg2.jpg' %}" >
        <div class="page-header header-filter" data-parallax="true"
            style="background-image: url('{% static '/assets/img/bg2.jpg' %}');">
        </div>
    </a>
    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile">
                            <div class="avatar">
                                <a href="{{profile.image.url}}">
                                    <img src="{{profile.image.url}}" alt="Error Occur"
                                        class="img-raised rounded-circle img-fluid">
                                </a>
                            </div>
                            <div class="name">
                                <h3 class="title">{{profile.firstname}} {{profile.lastname}}</h3>
                                <h6>{{profile.occuption}}</h6>
                                {% if socialmedias %}
                                {% for i in socialmedias %}
                                <a href="{{i.facebook_link}}" class="btn btn-just-icon btn-link btn-dribbble"><i
                                        class="fa fa-facebook" target="_blank"></i></a>
                                <a href="{{i.twitter_link}}" class="btn btn-just-icon btn-link btn-twitter"><i
                                        class="fa fa-twitter" target="_blank"></i></a>
                                <a href="{{i.linkedin_link}}" class="btn btn-just-icon btn-link btn-pinterest"><i
                                        class="fa fa-linkedin" target="_blank"></i></a>
                                <a href="{{i.instagram_link}}" class="btn btn-just-icon btn-link btn-pinterest"><i
                                        class="fa fa-instagram" target="_blank"></i></a>
                                {% endfor %}
                                {% else  %}
                                <a href="#" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-facebook"
                                        target="_blank"></i></a>
                                <a href="#" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"
                                        target="_blank"></i></a>
                                <a href="#" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-linkedin"
                                        target="_blank"></i></a>
                                <a href="#" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-instagram"
                                        target="_blank"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="description text-center">
                    <h3 class="title">Introduction</h3>
                    {% for i in perso %}
                    <p>{{i.about}}</p>
                    {% endfor %}
                </div>

                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile-tabs">
                            <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#media" role="tab" data-toggle="tab">
                                        <i class="material-icons">camera</i> Photos
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tab-content tab-space">s
                    <div class="cd-section" id="features " style="overflow: scroll; height: 750px; width: auto;">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4" style="padding: 5px;">
                                    <img src="{% static '/assets/img/bg.jpg' %}" height="330" width="340"
                                        class="rounded">
                                </div>
                                <div class="col-sm-4" style="padding: 5px;">
                                    <img src="{% static '/assets/img/bg0.jpg' %}" height="330" width="340"
                                        class="rounded">
                                </div>
                                <div class="col-sm-4" style="padding: 5px;">
                                    <img src="{% static '/assets/img/bg2.jpg' %}" height="330" width="340"
                                        class="rounded">
                                </div>
                                <div class="col-sm-4" style="padding: 5px;">
                                    <img src="{% static '/assets/img/bg3.jpg' %}" height="330" width="340"
                                        class="rounded">
                                </div>
                                <div class="col-sm-4" style="padding: 5px;">
                                    <img src="{% static '/assets/img/bg5.jpg' %}" height="330" width="340"
                                        class="rounded">
                                </div>
                                <div class="col-sm-4" style="padding: 5px;">
                                    <img src="{% static '/assets/img/bg6.jpg' %}" height="330" width="340"
                                        class="rounded">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane active text-center gallery" id="media">
                        <div class="row">
                            {% if user.is_authenticated %}
                            {% else %}
                            {% for i in hobi %}
                            <div class="col-md-4"></div>
                            <div class="col-md-2">
                                <a href="{% url 'indexs' i.pk %}" class="btn btn-primary btn-round"><i
                                        class="material-icons">account_balance</i> Home</a></h3>
                            </div>
                            <div class="col-md-2">
                                <a href="{% url 'contacts' i.pk %}" class="btn btn-primary btn-round"><i
                                        class="material-icons">call</i> Contact</a></h3>
                            </div>
                            <div class="col-md-4"></div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main main-raised">
            <div class="profile-content">
                <div class="container">
                    <div class="table-responsive">
                        <table class="table">
                            <h2 style="text-align: center; background-color: rgb(218, 211, 211); border-radius: 80px;">
                                Qualification</h2>
                            <hr>
                            <thead>
                                <tr>
                                    <th class="hov"><b>Course</b></th>
                                    <th class="hov"><b>Year</b></th>
                                    <th class="hov"><b>Institute</b></th>
                                    <th class="hov"><b>Board</b></th>
                                    <th class="text-right hov"><b>Marks <sup>(Based on 100% or 10/CGPA)</sup></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in quali %}
                                <tr>
                                    <td class="hov">{{i.course}}</td>
                                    <td class="hov">{{i.year}}</td>
                                    <td class="hov">{{i.institute}}</td>
                                    <td class="hov">{{i.board}}</td>
                                    <td class="text-right hov">{{i.marks}} Percentage/CGPA</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                &nbsp;
                <p></p>
                &nbsp;
                <p></p>
                <div class="main main-raised">
                    <div class="profile-content">
                        <div class="table-responsive">
                            <table class="table">
                                <h2
                                    style="text-align: center; background-color: rgb(218, 211, 211); border-radius: 80px;">
                                    Basic Skills</h2>
                                <hr>
                                <div id="progress">
                                    <div class="row">
                                        <div class="col-md-6">
                                            {% for i in skills %}
                                            <tr title="Knowledge in {{i.skill}} about {{i.percentage}} %">
                                                <th class="hov">{{i.skill}}
                                                    <div class="progress progress-line-primary">
                                                        <div class="progress-bar progress-bar-{{i.select_colors}}"
                                                            role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                                            aria-valuemax="100" style="width: {{ i.percentage }}% ;">
                                                            <span class="sr-only">100% Complete</span>
                                                        </div>
                                                    </div>
                                                </th>
                                            </tr>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                &nbsp;
                <p></p>
                &nbsp;
                <p></p>
                <div class="main main-raised">
                    <div class="profile-content">
                        <div class="table-responsive">
                            <table class="table">
                                <h2
                                    style="text-align: center; background-color: rgb(218, 211, 211); border-radius: 80px;">
                                    Hobbies</h2>
                                <hr>

                                <thead>
                                    {% for i in hobi %}
                                    <tr>
                                        <th class="hov">
                                            <li><b>{{i.hobi1}}</b></li>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="hov">
                                            <li><b>{{i.hobi2}}</b></li>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="hov">
                                            <li><b>{{i.hobi3}}</b></li>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="hov">
                                            <li><b>{{i.hobi4}}</b></li>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="hov">
                                            <li><b>{{i.hobi5}}</b></li>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="hov">
                                            <li><b>{{i.hobi6}}</b></li>
                                        </th>
                                    </tr>
                                    {% endfor %}
                                </thead>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                &nbsp;
                <p></p>
                &nbsp;
                <p></p>
                <div class="main main-raised">
                    <div class="profile-content">
                        <div class="table-responsive">
                            <table class="table">
                                <h2
                                    style="text-align: center; background-color: rgb(218, 211, 211); border-radius: 80px;">
                                    Personal Details</h2>
                                <hr>

                                <thead>
                                    {% for i in perso %}
                                    <tr>
                                        <th class="hov"><strong>Name: </strong><b>{{i.profile.firstname}}
                                                {{i.profile.lastname}}</b></th>
                                    </tr>
                                    <tr>
                                        <th class="hov"><strong>Email: </strong><b>{{i.profile.user.email}}</b></th>
                                    </tr>
                                    <tr>
                                        <th class="hov"><strong>Phone Number: </strong><b>{{i.phone_number}}</b>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="hov"><strong>Nationality: </strong><b>{{i.nationality}}</b></th>
                                    </tr>
                                    <tr>
                                        <th class="hov"><strong>Marital Status: </strong><b>{{i.status}}</b></th>
                                    </tr>
                                    <tr>
                                        <th class="hov"><strong>Gender: </strong><b>{{i.gender}}</b></th>
                                    </tr>
                                    <tr>
                                        <th class="hov"><strong>Permanent Address: </strong><b>{{i.address1}}</b>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="hov"><strong>Residental Address: </strong><b>{{i.address2}}</b>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="hov"><strong>Resume Created Date:
                                            </strong><b>{{i.created_date}}</b></th>
                                    </tr>
                                    {% endfor %}
                                </thead>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% include './main/footer.html' %}
        </div>
</body>
{% endblock %}