{% load static %}
<!DOCTYPE HTML>
<html lang="en">

<head>
    {% include './main/head.html' %}
    {% block title %}
    <title>All Page</title>
    {% endblock %}
</head>

<body class="profile-page">
    <nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg " color-on-scroll="100"
        id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="{% url 'all' %}" style="color: black;">All Resume</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navigation-example3">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link" style="color: black;">
                            <i class="material-icons">fingerprint</i> Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'register' %}" class="nav-link" style="color: black;">
                            <i class="material-icons">person_add</i> Register
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div></div>
    <br>
    <p></p>
    <div></div>
    <div></div>
    <br>
    <p></p>
    <div></div>

    <div></div>
    <br>
    <p></p>
    <div></div>

    <div></div>
    <br>
    <p></p>
    <div></div>

    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                <div class="tab-content tab-space">
                    <div class="tab-pane active connections" id="connections">
                        <div class="row">
                            {% if profile == '' %}
                            <div class="col-md-4 ml-auto mr-auto">
                                <div class="card card-profile card-plain" style="border:1px solid black;">
                                    <h2 class='title'>No any Resume is Available</h2>
                                </div>
                            </div>
                            {% else %}
                            {% for i in profile %}
                            <div class="col-md-4 ml-auto mr-auto">
                                <div class="card card-profile card-plain" style="border:1px solid black;">
                                    <div class="row" style="padding-left:5px;">
                                        <div class="col-md-4" style="padding-top:5px; padding-right:10px;">
                                            <div class="card-header card-header-image">
                                                <img src="{{i.image.url}}" alt="Circle Image"  >
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            Name: <h5 class="card-title">{{i.firstname}} {{i.lastname}}</h5>
                                            Work: <h5 class="card-title">{{i.occuption}}</h5>
                                        </div>
                                    </div>
                                    <br>
                                    <h4 class="card-title" style="text-align: center;">Email: &nbsp;{{i.user.email}}
                                    </h4>
                                    <div class="row" style="padding:15px; display: inline-flex;">
                                        <div class="col-md-5">
                                            <a href="{% url 'indexs' i.pk %}"
                                                class="btn btn-primary btn-round">Views</a>
                                        </div>
                                        &nbsp;&nbsp;&nbsp;
                                        <div class="col-md-5">
                                            <a href="{% url 'abouts' i.pk  %}" class="btn btn-primary btn-round">About
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                            {% for item in profile %}
                            {{item.about}}
                            {% endfor %}
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include './main/footer.html' %}
</body>
{% include './main/scripts.html' %}
<html>