{% extends 'resume/base.html' %}
{% load static %}
{% block content %}

<body class="profile-page ">

    {% include './main/navbar.html' %}
    <div class="cd-section" id="contactus">
        <div class="contactus-1 section-image"
            style="background-image: url(&apos;../../../static/assets/img/bg12.jpg&apos;)">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-5">
                        {% for i in hobi %}
                        <h3 class="title"> You are here for sending message to </h3>
                           <a href="{% url 'indexs' i.pk %}" title="Click here for Home Page"><h3 style="text-align: center; color: rgb(139, 177, 34)">{{i.profile.firstname}} {{i.profile.lastname}}</h3></a> 
                        {% endfor %}
                        <div class="card card-contact">
                            <form id="contact-form" method="post">
                                {% csrf_token %}
                                <div class="card-header card-header-raised card-header-primary text-center">
                                    <h4 class="card-title">Contact Me</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group label-floating is-empty">
                                                <label class="bmd-label-floating">First name</label>
                                                <input type="text" name="name" class="form-control">
                                                <span class="material-input"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group label-floating is-empty">
                                                <label class="bmd-label-floating">Last name</label>
                                                <input type="text" name="name" class="form-control">
                                                <span class="material-input"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group label-floating is-empty">
                                        <label class="bmd-label-floating">Email address</label>
                                        <input type="email" name="email" class="form-control">
                                        <span class="material-input"></span>
                                    </div>
                                    <div class="form-group label-floating is-empty">
                                        <label for="exampleMessage1" class="bmd-label-floating">Your Message</label>
                                        <textarea name="message" class="form-control" id="exampleMessage1"
                                            rows="6"></textarea>
                                        <span class="material-input"></span>
                                    </div>
                                </div>
                                {% if user.is_authenticated %}
                                <div class="footer text-center justify-content-between">
                                    <button type="submit" class="btn btn-primary btn-round">Send Message</button>
                                </div>
                                <br>
                                {% else %}
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-5 card-footer justify-content-between">
                                        <button type="submit" class="btn btn-primary btn-round">Send
                                            Message</button>
                                    </div>
                                    <div class="col-md-6 card-footer justify-content-between">
                                        {% for i in hobi %}
                                        <a href="{% url 'abouts' i.pk %}" class="btn btn-primary btn-round">Go Back</a>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
        {% include './main/footer.html' %}
    </div>
</body>
{% endblock %}