{% extends 'resume/base.html' %}
{% load static %}
{% block content %}

<body>
    {% include './main/navbar.html' %}

    <div class="header-3">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="page-header header-filter"
                        style="background-image: url(&apos;{% static '/assets/img/dg2.jpg' %}&apos;);">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto text-center">
                                    <a href="{{profile.image.url}}">
                                    <img src="{{profile.image.url}}" height="260" width="200" alt="No any image"
                                        style="border-radius: 50px;">
                                    </a>
                                    <h1 class="title">Resume of <br>{{profile.firstname}} {{profile.lastname}}</h1>

                                    <h6>Connect with me on:</h6>
                                    <div class="buttons">
                                        {% if socialmedias %}
                                        {% for i in socialmedias %}
                                        <a href="{{i.twitter_link}}"
                                            class="btn btn-just-icon btn-white btn-link btn-lg">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="{{i.facebook_link}}"
                                            class="btn btn-just-icon btn-white btn-link btn-lg">
                                            <i class="fa fa-facebook-square"></i>
                                        </a>
                                        <a href="{{i.linkedin_link}}"
                                            class="btn btn-just-icon btn-white btn-link btn-lg">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                        <a href="{{i.instagram_link}}"
                                            class="btn btn-just-icon btn-white btn-link btn-lg">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                        {% endfor %}
                                        {% else %}
                                        <a href="#"
                                            class="btn btn-just-icon btn-white btn-link btn-lg">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#"
                                            class="btn btn-just-icon btn-white btn-link btn-lg">
                                            <i class="fa fa-facebook-square"></i>
                                        </a>
                                        <a href="#"
                                            class="btn btn-just-icon btn-white btn-link btn-lg">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                        <a href="#"
                                            class="btn btn-just-icon btn-white btn-link btn-lg">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cd-section" id="teams">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">THE LIST</h2>
                </div>
            </div>
            <div class="row">
                {% if user.is_authenticated %}
                <div class="col-md-4">
                    <div class="card card-profile">
                        <h2>RESUME</h2>
                        <div class="card-body">
                            <h4 class="card-title">Download My Resume</h4>
                            <p class="card-description">
                                Download Your Resume. If any update required follow About instruction for update.
                            </p>
                        </div>
                        <div class="card-footer justify-content-center">
                            <a href="#" class="btn btn-success">Download</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile">
                        <h2>ABOUT</h2>
                        <div class="card-body">
                            <h4 class="card-title">See your Details</h4>
                            <p class="card-description">
                                If you want to edit click on settings on menu bar and click on About update.
                            </p>
                        </div>
                        <div class="card-footer justify-content-center">
                            <a href="{% url 'about' %}" class="btn btn-success">Click</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile">
                        <h2>PROJECTS</h2>
                        <div class="card-body ">
                            <h4 class="card-title">Project</h4>
                            <p class="card-description">
                                See All Your Projects. Any update required go to settings and click project update.
                            </p>
                        </div>
                        <div class="card-footer justify-content-center">
                            <a href="#" class="btn btn-success">Details</a>
                        </div>
                    </div>
                </div>
                {% else %}


                <div class="col-md-4">
                    <div class="card card-profile">
                        <h2>RESUME</h2>
                        <div class="card-body">
                            <h4 class="card-title">Download My Resume</h4>
                            <p class="card-description">
                                Download My Resume.
                            </p>
                        </div>
                        <div class="card-footer justify-content-center">
                            {% if hobi %}
                            {% for i in hobi %}
                            <a href="{% url 'abouts' i.pk  %}" class="btn btn-success">Download</a>
                            {% endfor %}
                            {% else  %}
                            <a href="#" class="btn btn-success">Download</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile">
                        <h2>ABOUT</h2>
                        <div class="card-body">
                            <h4 class="card-title">Know more about me</h4>
                            <p class="card-description">
                                see about my qualifiction, hobies ect.
                            </p>
                        </div>
                        <div class="card-footer justify-content-center">
                            {% if hobi %}
                            {% for i in hobi %}
                            <a href="{% url 'abouts' i.pk  %}" class="btn btn-success">About</a>
                            {% endfor %}
                            {% else  %}
                            <a href="#" class="btn btn-success">About</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile">
                        <h2>PROJECTS</h2>
                        <div class="card-body ">
                            <h4 class="card-title">Project</h4>
                            <p class="card-description">
                                See All My Projects.
                            </p>
                        </div>
                        <div class="card-footer justify-content-center">
                            {% if hobi %}
                            {% for i in hobi %}
                            <a href="{% url 'abouts' i.pk  %}" class="btn btn-success">Details</a>
                            {% endfor %}
                            {% else  %}
                            {% for i in aa %}
                            <a href="{% url 'abouts' i.pk  %}" class="btn btn-success">Details</a>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>


    <div class="cd-section" id="features">
        <div class="container">
            <div class="features-5" style="background-image: url(&apos;{% static '/assets/img/bg9.jpg' %}&apos;)">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Your life will be much easier</h2>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="info">
                                <div class="icon">
                                    <i class="material-icons">code</i>
                                </div>
                                <h4 class="info-title">For Developers</h4>
                                <p>The moment you use Material Kit, you know you&#x2019;ve never felt anything like
                                    it.
                                    With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="info">
                                <div class="icon">
                                    <i class="material-icons">format_paint</i>
                                </div>
                                <h4 class="info-title">For Designers</h4>
                                <p>The moment you use Material Kit, you know you&#x2019;ve never felt anything like
                                    it.
                                    With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="info">
                                <div class="icon">
                                    <i class="material-icons">dashboard</i>
                                </div>
                                <h4 class="info-title">Bootstrap Grid</h4>
                                <p>The moment you use Material Kit, you know you&#x2019;ve never felt anything like
                                    it.
                                    With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="info">
                                <div class="icon">
                                    <i class="material-icons">view_carousel</i>
                                </div>
                                <h4 class="info-title">Example Pages Included</h4>
                                <p>The moment you use Material Kit, you know you&#x2019;ve never felt anything like
                                    it.
                                    With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="info">
                                <div class="icon">
                                    <i class="material-icons">access_time</i>
                                </div>
                                <h4 class="info-title">Save Time</h4>
                                <p>The moment you use Material Kit, you know you&#x2019;ve never felt anything like
                                    it.
                                    With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="info">
                                <div class="icon">
                                    <i class="material-icons">attach_money</i>
                                </div>
                                <h4 class="info-title">Save Money</h4>
                                <p>The moment you use Material Kit, you know you&#x2019;ve never felt anything like
                                    it.
                                    With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include './main/footer.html' %}
    </div>
</body>
{% endblock %}