{% extends 'resume/base.html' %}
{% load static %}
{% block 'head' %}
{% include './main/head.html' %}
{% endblock %}
{% block content %}

<body class="login-page ">

    {% include './main/navbar.html' %}
    <div class="page-header header-filter"
        style="background-image: url(&apos;../../../static/assets/img/bg7.jpg&apos;); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 ml-auto mr-auto">
                    <div class="card card-signup">
                        <div class="card-header card-header-primary text-center">
                            <h4 class="card-title">Login</h4>
                        </div>

                        <form class="form" method="POST" action="">
                            {% csrf_token %}
                            <!--
                            
                                <div class="social-line">
                                    <a href="#pablo" class="btn btn-just-icon btn-link">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-link">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-link">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                            <p class="description text-center">Or Be Classical</p>
                            -->

                            {% for message in messages %}
                            <p>{{message}}</p>
                            {% endfor %}
                            <div class="card-body">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">mail</i>
                                        </span>
                                    </div>
                                    <input type="email" class="form-control" name="email" placeholder="Email..."
                                        required='required'>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">lock</i>
                                        </span>
                                    </div>
                                    <input type="password" class="form-control" name="password"
                                        placeholder="Password..." required='required'>
                                </div>
                                <!-- If you want to add a checkbox to this form, uncomment this code

								<div class="checkbox">
									<label>
										<input type="checkbox" name="optionsCheckboxes" checked>
										Subscribe to newsletter
									</label>
								</div> -->
                            </div>
                            <div class="footer text-center ">
                                <input type="submit" class="btn btn-primary btn-round" value="Login">
                            </div>
                        </form>
                        <div class="text-center">
                            <p>Don't have <a href="{% url 'register' %}" style="color: rgb(238, 146, 8);">account?</a>
                            </p>
                            <p>Forget <a href="#" style="color: rgb(238, 146, 8);">Password?</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include './main/footer.html' %}
    </div>
</body>
{% endblock %}