{% extends 'resume/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block 'head' %}
{% include './main/head.html' %}
{% endblock %}
{% block content %}

<body class="signup-page">
    {% include './main/navbar.html' %}
    <div class="page-header header-filter" filter-color="purple"
        style="background-image: url(&apos;../../../static/assets/img/bg7.jpg&apos;); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                    <div class="card card-signup">
                        <div  style="margin-top: -50px; margin-right: 50px;">
                            <div class="card-header card-header-primary text-center" style=" padding: 40px;">
                                <h2 class="card-title text-center">Register</h2>
                            </div>
                        </div>
                        <br>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 ml-auto">
                                    <div class="info info-horizontal">
                                        <div class="icon icon-rose">
                                            <i class="material-icons">face</i>
                                        </div>
                                        <!--
                                        <div class="icon icon-rose">
                                            <i class="material-icons">account_circle</i>
                                        </div>-->
                                        <div class="description">
                                            <h4 class="info-title">
                                                <!--Full Name/Last Name/-->User Name</h4>
                                            <p class="description">
                                                Keep Your Full Name/Last Name Where User Name can be different. As
                                                You Mentioned On Your Resume Or CV.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="info info-horizontal">
                                        <div class="icon icon-primary">
                                            <i class="material-icons">mail</i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Email Must Be Unique</h4>
                                            <p class="description">
                                                Email Will Be Used For <b style="color:rgb(68, 114, 31)">Login</b>,
                                                It
                                                Must be <b style="color:rgb(20, 241, 49)" id="blinks">Unique</b> And
                                                Keep Your Email As You Mentioned On Your Resume Or CV.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="info info-horizontal">
                                        <div class="icon icon-info">
                                            <i class="material-icons">lock_outline</i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Password</h4>
                                            <p class="description">
                                                <b style="color: red">*</b> Your password can’t be too similar to
                                                your
                                                other personal information. <br>
                                                <b style="color: red">*</b> Your password must contain at least 8
                                                characters.<br>
                                                <b style="color: red">*</b> Password must contain at least one of
                                                these
                                                <b style="color: rgb(16, 39, 240);">&nbsp;&nbsp;&nbsp;
                                                    !,#,$,%,&</b>.<br>
                                                <b style="color: red">*</b> Your password can’t be a commonly used
                                                password.<br>
                                                <b style="color: red">*</b> Your password can’t be entirely
                                                numeric.<br>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="info info-horizontal">
                                        <div class="icon icon-info">
                                            <i class="material-icons">lock_outline</i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Conform Password</h4>
                                            <p class="description">
                                                <b style="color: red">*</b> Enter the same password as before, for
                                                verification.

                                            </p>
                                        </div>
                                    </div>

                                </div>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="col-md-6 mr-auto ">
                                    <!--
                                    <div class="social text-center">
                                        <button class="btn btn-just-icon btn-round btn-twitter">
                                            <i class="fa fa-twitter"></i>
                                        </button>
                                        <button class="btn btn-just-icon btn-round btn-dribbble">
                                            <i class="fa fa-dribbble"></i>
                                        </button>
                                        <button class="btn btn-just-icon btn-round btn-facebook">
                                            <i class="fa fa-facebook"> </i>
                                        </button>
                                        <h4> or be classical </h4>
                                    </div>
                                    -->
                                    <b style="text-align: center;">
                                        <p id="blink" style="color: rgb(158, 9, 34);">All Fields Are Mandatory
                                            expect
                                            Image.</p>
                                    </b>
                                    <form class="form" method="POST" enctype="multipart/form-data" action="">
                                        {% csrf_token %}

                                        <div class="form-group">
                                            <!--
                                                <label for="">User Name<sup
                                                        style="color:red; font-size: medium;">*</sup>:</label>-->
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons">face</i>
                                                    </span>
                                                </div>
                                                {{form.full_name|as_crispy_field}}
                                            </div>
                                        </div>
                                        <!--
                                            <div class=" form-group">
                                                <label for="">Image:</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="material-icons">account_circle</i>
                                                        </span>
                                                    </div>
                                                    <input type="text" name="" id="">
                                                </div>
                                            </div>
                                        <div class=" form-group">
                                            <label for="">First Name<sup
                                                    style="color:red; font-size: medium;">*</sup>:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons">account_circle</i>
                                                    </span>
                                                </div>
                                                <input type="text" name="" id="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="">Last Name<sup
                                                    style="color:red; font-size: medium;">*</sup>:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons">account_circle</i>
                                                    </span>
                                                </div>
                                                <input type="text" name="" id="">
                                            </div>
                                        </div>
                                        -->
                                        <div class="form-group">
                                            <!--
                                            <label for="">Email<sup
                                                    style="color:red; font-size: medium;">*</sup>:</label>-->
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons">mail</i>
                                                    </span>
                                                </div>
                                                {{form.email|as_crispy_field}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <!--
                                            <label for="">Password<sup
                                                    style="color: red; font-size: medium;">*</sup>:</label>-->
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons">lock_outline</i>
                                                    </span>
                                                </div>
                                                {{form.password1|as_crispy_field}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <!--
                                            <label for="">Conform Password<sup
                                                    style="color: red; font-size: medium;">*</sup>:</label>-->
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons">lock_outline</i>
                                                    </span>
                                                </div>
                                                {{form.password2|as_crispy_field}}
                                            </div>
                                        </div>

                                        <div class="text-center">
                                            <input type="submit" class="btn btn-primary btn-round" value="Register">
                                        </div>
                                    </form>
                                    <h3 class="text-center">Already have <a href="{% url 'login'  %}"
                                            style="color: rgb(238, 146, 8);">Account?</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include './main/footer.html' %}
    </div>
</body>
{% endblock %}