{% extends 'resume/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<body style="background-color: rgb(178, 205, 233);">
    {% include '../main/updatenav.html' %}
    <style>
        .text-change {
            text-align: center;
            color: rgb(233, 148, 38);
        }
    </style>
    <div>
        <br>
        <h1></h1>
    </div>
    <div>
        <br>
        <h1></h1>
    </div>
    &nbsp;
    &nbsp;
    <h2 class="text-center" style="color: red;"><b>UPDATE YOUR <u>ABOUT</u> DETAILS</b></h2>
    <h3></h3>

    <div style="background-color: rgb(241, 241, 241); border-radius: 40%;">
        {% for message in messages %}
        <b class="text-center">
            <p style="color: rgb(20, 223, 20);">-------------------- {{message}} ! -----------------</p>
        </b>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <div class="container">
                <div class="jumbotron">
                    <div class="profile-page">
                        <div style=" padding-top:20px">
                            <h3 class="text-change"><b>1. Qualification </b></h3>
                            <form action="" method="POST" enctype="multipart/form-data">
                                <div class="table-responsive">
                                    <table class="table">
                                        {% csrf_token %}
                                        {{form|crispy}}
                                        <!--
                                            <tr>
                                                <th><b style="color: red;">Nationality</b></th>
                                                <th><b style="color: red;">Gender</b></th>
                                                <th><b style="color: red;">Status</b></th>
                                                <th><b style="color: red;">Phone_Number</b></th>
                                            </tr>
                                            <tr>
                                                <td>{{perso.nationality}}</td>
                                                <td>{{perso.gender}}</td>
                                                <td> {{perso.status}}</td>
                                                <td>{{perso.phone_number}}</td>
                                            </tr>
                                            <tr>
                                                <th><b>Permanent Address</b></th>
                                                <td>{{perso.address1}}</td>
                                                <th><b>Temprory Address</b></th>
                                                <td>{{perso.address2}}</td>
                                            </tr>
                                            <tr>
                                                <th><b>Introduction About Yourself.</b></th>
                                                <td>{{perso.about}}</td>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        -->
                                    </table>
                                </div>
                                <div class="text-center">
                                    <input type="submit" class="btn btn-success btn-simple"
                                        value="Update">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6" style="margin-left: -10px;">
            <div class="jumbotron" style="overflow: scroll; height: 705px; width: 100%;">
                <div class="profile-page">
                    <div style=" padding-top:20px">
                        <h3 class="text-change"><b>2. Personal Information </b></h3>

                        <form action="" method="POST" enctype="multipart/form-data">
                            <div class="table-responsive">
                                <table class="table">
                                    {% csrf_token %}
                                    {{form2|crispy}}
                                </table>
                            </div>
                            <div class="text-center">
                                <input type="submit" class="btn btn-success btn-simple"
                                    value="Update">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="container">
                <div class="jumbotron">
                    <div class="profile-page">
                        <div style=" padding-top:20px">
                            <h3 class="text-change"><b>3. Basic Skills</b></h3>

                            <form action="" method="POST" enctype="multipart/form-data">
                                <div class="table-responsive">
                                    <table class="table">
                                        {% csrf_token %}
                                        {{form3|crispy}}
                                    </table>
                                </div>
                                <div class="text-center">
                                    <input type="submit" class="btn btn-success btn-simple"
                                        value="Update">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6" style="margin-left: -10px;">
            <div class="jumbotron" style="overflow: scroll; height: 540px; width: 100%;">
                <div class="profile-page">
                    <div style=" padding-top:20px">
                        <h3 class="text-change"><b>4. Your Hobbies</b></h3>

                        <form action="" method="POST" enctype="multipart/form-data">
                            <div class="table-responsive">
                                <table class="table">
                                    {% csrf_token %}
                                    {{form4|crispy}}
                                </table>
                            </div>
                            <div class="text-center">
                                <input type="submit" class="btn btn-success btn-simple"
                                    value="Update">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            <div class="profile-page">
                <div style=" padding-top:20px">
                    <h3 class="text-change"><b>5. Social Medias Links</b></h3>
                    <form action="" method="POST" enctype="multipart/form-data">
                        <div class="table-responsive">
                            <table class="table">
                                {% csrf_token %}
                                {{form5|crispy}}
                            </table>
                        </div>
                        <div class="text-center">
                            <input type="submit" class="btn btn-success btn-simple"
                                value="Update">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include '../main/footer.html' %}
</body>
{% endblock %}