{% extends 'resume/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<body>
    {% include '../main/updatenav.html' %}
    <style>
        .text-change {
            text-align: center;
            color: rgb(233, 148, 38);
        }
    </style>
    <div>
        <br>
        <h1></h1>
    </div>
    <div>
        <br>
        <h1></h1>
    </div>
    <div>
        <br>
        <h1></h1>
    </div>
    &nbsp;
    &nbsp;
    <h2 class="text-center" style="color: red;"><b>UPDATE YOUR <u>BACKGROUND</u> PICTURE</b></h2>
    <h3></h3>
    <div class="container">
        <div class="jumbotron">
            <div class="profile-page">
                <div style=" padding-top:20px">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4">
                                <h4><b>Old Picture</b></h4>
                                <hr>
                            </div>
                            <div class="col-md-4">
                                <h4 style="text-align: center;"><b style="color: red;">Title</b></h4>
                            </div>
                            <div class="col-md-4">
                                <h4><b>New Picture</b></h4>
                                <hr>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{% static 'assets/img/bg0.jpg' %}" style="border-radius: 10px;" height="300" width="300"
                                    alt="Not Available">
                            </div>
                            <div class="col-md-4">
                                <div><b>Home Top Background:</b></div><br>
                                <div>select</div>
                            </div>
                            <div class="col-md-4">
                                <img src="" style="border-radius: 10px;" height="300" width="300"
                                    alt="UPLOAD NEW ONE">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{% static 'assets/img/bg2.jpg' %}" style="border-radius: 10px;" height="300" width="300"
                                    alt="Not Available">
                            </div>
                            <div class="col-md-4">
                                <div><b>Home Below Background:</b></div><br>
                                <div>select</div>
                            </div>
                            <div class="col-md-4">
                                <img src="" style="border-radius: 10px;" height="300" width="300"
                                    alt="UPLOAD NEW ONE">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{% static 'assets/img/bg5.jpg' %}" style="border-radius: 10px;" height="300" width="300"
                                    alt="Not Available">
                            </div>
                            <div class="col-md-4">
                                <div class=><b>About Background:</b></div><br>
                                <div>select</div>
                            </div>
                            <div class="col-md-4">
                                <img src="" style="border-radius: 10px;" height="300" width="300"
                                    alt=" UPLOAD NEW ONE">
                            </div>
                        </div>

                        <hr>
                        <div class="text-center">
                            <input type="submit" class="btn btn-success btn-simple" name="Update Information"
                                value="Update">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <h2 class="text-center" style="color: red;"><b><u>PHOTOS</u></b></h2>
    <h3></h3>
    <div class="container">
        <div class="jumbotron">
            <div class="profile-page">
                <div style=" padding-top:20px">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-5">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tr>
                                            <th><b>Photo: </b></th>
                                            <td>select</td>
                                            </th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <img src="{% static 'assets/img/bg.jpg' %}" height="300" width="300" alt="Not Available">
                            </div>
                        </div>

                        <hr>
                        <div class="text-center">
                            <input type="submit" class="btn btn-primary btn-round" name="Update Information"
                                value="Add Photo">
                        </div>
                    </form>
                    <div class="row" style="overflow: scroll; height: 550px; width: auto;">
                        <div class="col-md-4" style="margin-bottom: 5px;">
                            <img src="{% static 'assets/img/bg0.jpg' %}" height="250" width="250" alt="Not Available">
                        </div>
                        <div class="col-md-4" style="margin-bottom: 5px;">
                            <img src="{% static 'assets/img/dg1.jpg' %}" height="250" width="250" alt="Not Available">
                        </div>
                        <div class="col-md-4" style="margin-bottom: 5px;">
                            <img src="{% static 'assets/img/dg2.jpg' %}" height="250" width="250" alt="Not Available">
                        </div>
                        <div class="col-md-4" style="margin-bottom: 5px;">
                            <img src="{% static 'assets/img/dg3.jpg' %}" height="250" width="250" alt="Not Available">
                        </div>
                        <div class="col-md-4" style="margin-bottom: 5px;">
                            <img src="{% static 'assets/img/dg6.jpg' %}" height="250" width="250" alt="Not Available">
                        </div>
                        <div class="col-md-4" style="margin-bottom: 5px;">
                            <img src="{% static 'assets/img/dg9.jpg' %}" height="250" width="250" alt="Not Available">
                        </div>
                        <div class="col-md-4" style="margin-bottom: 5px;">
                            <img src="{% static 'assets/img/dg10.jpg' %}" height="250" width="250" alt="Not Available">
                        </div>
                        <div class="col-md-4" style="margin-bottom: 5px;">
                            <img src="{% static 'assets/img/bg0.jpg' %}" height="250" width="250" alt="Not Available">
                        </div>
                        <div class="col-md-4" style="margin-bottom: 5px;">
                            <img src="{% static 'assets/img/dg1.jpg' %}" height="250" width="250" alt="Not Available">
                        </div>
                        <div class="col-md-4" style="margin-bottom: 5px;">
                            <img src="{% static 'assets/img/dg2.jpg' %}" height="250" width="250" alt="Not Available">
                        </div>
                        <div class="col-md-4" style="margin-bottom: 5px;">
                            <img src="{% static 'assets/img/dg3.jpg' %}" height="250" width="250" alt="Not Available">
                        </div>
                        <div class="col-md-4" style="margin-bottom: 5px;">
                            <img src="{% static 'assets/img/dg6.jpg' %}" height="250" width="250" alt="Not Available">
                        </div>
                        <div class="col-md-4" style="margin-bottom: 5px;">
                            <img src="{% static 'assets/img/dg9.jpg' %}" height="250" width="250" alt="Not Available">
                        </div>
                        <div class="col-md-4" style="margin-bottom: 5px;">
                            <img src="{% static 'assets/img/dg10.jpg' %}" height="250" width="250" alt="Not Available">
                        </div>
                        <div class="col-md-4" style="margin-bottom: 5px;">
                            <img src="{% static 'assets/img/dg2.jpg' %}" height="250" width="250" alt="Not Available">
                        </div>
                        <div class="col-md-4" style="margin-bottom: 5px;">
                            <img src="{% static 'assets/img/dg3.jpg' %}" height="250" width="250" alt="Not Available">
                        </div>
                        <div class="col-md-4" style="margin-bottom: 5px;">
                            <img src="{% static 'assets/img/dg6.jpg' %}" height="250" width="250" alt="Not Available">
                        </div>
                        <div class="col-md-4" style="margin-bottom: 5px;">
                            <img src="{% static 'assets/img/dg9.jpg' %}" height="250" width="250" alt="Not Available">
                        </div>
                        <div class="col-md-4" style="margin-bottom: 5px;">
                            <img src="{% static 'assets/img/dg10.jpg' %}" height="250" width="250" alt="Not Available">
                        </div>
                        <div class="col-md-4" style="margin-bottom: 5px;">
                            <img src="{% static 'assets/img/bg0.jpg' %}" height="250" width="250" alt="Not Available">
                        </div>
                        <div class="col-md-4" style="margin-bottom: 5px;">
                            <img src="{% static 'assets/img/dg1.jpg' %}" height="250" width="250" alt="Not Available">
                        </div>
                        <div class="col-md-4" style="margin-bottom: 5px;">
                            <img src="{% static 'assets/img/dg2.jpg' %}" height="250" width="250" alt="Not Available">
                        </div>
                        <div class="col-md-4" style="margin-bottom: 5px;">
                            <img src="{% static 'assets/img/dg3.jpg' %}" height="250" width="250" alt="Not Available">
                        </div>
                        <div class="col-md-4" style="margin-bottom: 5px;">
                            <img src="{% static 'assets/img/dg6.jpg' %}" height="250" width="250" alt="Not Available">
                        </div>
                        <div class="col-md-4" style="margin-bottom: 5px;">
                            <img src="{% static 'assets/img/dg9.jpg' %}" height="250" width="250" alt="Not Available">
                        </div>
                        <div class="col-md-4" style="margin-bottom: 5px;">
                            <img src="{% static 'assets/img/dg10.jpg' %}" height="250" width="250" alt="Not Available">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include '../main/footer.html' %}
</body>
{% endblock %}