{% extends 'resume/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<body>
    {% include '../main/updatenav.html' %}
    <style>
        .text-change {
            text-align: center;
            color: rgb(233, 148, 38);
        }
    </style>
    <div>
        <br>
        <h1></h1>
    </div>
    <div>
        <br>
        <h1></h1>
    </div>
    <br>
    &nbsp;
    &nbsp;
    <h2 class="text-center" style="color: red;"><b>UPDATE YOUR <u>PROFILE</u> DETAILS</b></h2>
    <h3></h3>
    <div class="container">
        <div style="background-color: rgb(184, 198, 240); border-radius: 40%;">
            {% for message in messages %}
            <b class="text-center">
                <p style="color: rgb(231, 34, 116);">-------------------- {{message}} ! -----------------</p>
            </b>
            {% endfor %}
        </div>
        <div class="jumbotron">
            <div class="profile-page">
                <div style=" padding-top:20px">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-3">
                                <a href="{{request.user.profile.image.url}}">
                                    <img src=" {{request.user.profile.image.url}}" style="border-radius: 20px;"
                                        height="260" width="200" alt="Not Available">
                                </a>
                            </div>
                            <div class="col-md-8">
                                <div class="table-responsive">
                                    <table class="table">
                                        &nbsp;&nbsp;Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        {{profile.user.email}}
                                        {{form.as_table}}
                                    </table>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="text-center">
                            <input type="submit" class="btn btn-danger btn-round" value="Update">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    {% include '../main/footer.html' %}
</body>
{% endblock %}