{% extends 'resume/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<body>
    {% include '../main/updatenav.html' %}
    <div>
        <br>
        <h1></h1>
    </div>
    <div>
        <br>
        <h1></h1>
    </div>
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <div class="profile-page">
                    <div class="container" style=" padding-top:20px">
                        <h3>This is update projectpage</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include '../main/footer.html' %}
</body>
{% endblock %}